
* {
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, 0.5)), url(img/background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 25%;
    margin-top: 50px;
    height: 100vh;
}

.hide {
    display: none !important;
}

#btn {
    display: flex;
    justify-content: space-around; 
}

#btn input {
    width: 65%;
    border-radius: 3px;
    padding: 5px;
    color: black;
}

#btn button {
    width: 25%;
    color: black;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

#meteo p {
    margin-bottom: 65px;
}

#result {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 15px;
}

#result div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}

#result div img {
    width: 100px;
    height: 100px;
    margin: auto;
}

@media screen and (max-width : 720px) {
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, 0.5)), url(img/background.jpg);
        background-size: cover;
        width: 80%;
        height: 100vh;
    }

    #result {
        margin-bottom: 50px;
    }
}